# Week 3 assignments Jan-Niklas Schneider

In [2]:
#read file
import numpy as np
import pandas as pd

df = pd.read_csv("GCD-Week-3-GRAIN---Land-grab-deals---Jan-2012.csv", delimiter=';',encoding='utf-8')

In [3]:
#Problem 1: Showing the data plainly
df.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000,"Milk, olive oil, potatoes",NaN,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000,Oil palm,NaN,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

# Problem 2: Whitespace and new lines

In [4]:
#remove all leading or trailing whitespaces
df["Status of deal"].str.strip()

0                    Done
1                    Done
2              In process
3                    Done
4                    Done
5                    Done
6      Done (50-yr lease)
7                    Done
8               Suspended
9                    Done
10                   Done
11                   Done
12                   Done
13                   Done
14                   Done
15             In process
16                   Done
17                   Done
18                   Done
19                   Done
20                   Done
21                   Done
22                   Done
23                   Done
24                   Done
25             In process
26                   Done
27             In process
28                   Done
29             In process
              ...
386                  Done
387                  Done
388                  Done
389                  Done
390                  Done
391                  Done
392                  Done
393                  Done
394                  Done
395                  Done
396                  Done
397                  Done
398                  Done
399                  Done
400                  Done
401                  Done
402                  Done
403                  Done
404                  Done
405                  Done
406                  Done
407                  Done
408                  Done
409                  Done
410                  Done
411                  Done
412                  Done
413                  Done
414                  Done
415                  Done
Name: Status of deal, dtype: object

# Problem 3: Blank cells

In [5]:
#fill missing cells with missing
df.isnull().sum()

Landgrabbed               0
Landgrabber               0
Base                      0
Sector                   10
Hectares                  2
Production               34
Projected investment    310
Status of deal            0
Summary                   0
dtype: int64

In [6]:
df=df.fillna("Missing")
df.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000,"Milk, olive oil, potatoes",Missing,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000,Oil palm,Missing,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

# Problem 4: Fixing numbers that aren’t numbers

In [7]:
#remove million and US$ from the column
df["Projected investment"]=df["Projected investment"].str.replace("US\$", "").str.replace(" million","").str.strip()

In [8]:
#find errors in the column
pd.value_counts(df["Projected investment"].values.ravel())

Missing                                                                                 310
100                                                                                       5
40                                                                                        4
15                                                                                        3
250                                                                                       3
5                                                                                         3
4/ha/yr (lease)                                                                           2
77                                                                                        2
300                                                                                       2
400                                                                                       2
30                                                                                        2
120                                                                                       2
2 billion                                                                                 2
200                                                                                       2
205 (half of fund)                                                                        2
50                                                                                        2
600                                                                                       2
23                                                                                        1
34.1                                                                                      1
45.3                                                                                      1
8/ha/yr (lease)                                                                           1
7                                                                                         1
5.49                                                                                      1
64                                                                                        1
111                                                                                       1
57,600 (0.80/ha)                                                                          1
6.5                                                                                       1
1,240                                                                                     1
43                                                                                        1
1.6 billion                                                                               1
                                                                                       ...
1,876                                                                                     1
336                                                                                       1
6.2                                                                                       1
251                                                                                       1
1.2/ha/yr (after first 7 years) in Gambela and 8/ha/yr (after first 6 years) in Bako      1
65                                                                                        1
375                                                                                       1
7.7                                                                                       1
27                                                                                        1
6.4                                                                                       1
204                                                                                       1
33                                                                                        1
53.2                                                                                      1
125,000/yr (land lease)                                                                   1
500                                                                                       1
3.1 billion                                                                               1
73                                                                                        1
456                                                                                       1
136                                                                                       1
415                                                                                       1
1,500                                                                                     1
10                                                                                        1
166                                                                                       1
35                                                                                        1
41                                                                                        1
4 (lease cost for 25,000 ha)                                                              1
79                                                                                        1
320                                                                                       1
83                                                                                        1
30-35                                                                                     1
dtype: int64

In [9]:
#I was having problem changing values manually. I was not able to "filter/find" entries and change them manually

# Problem 5: Structural problems

In [10]:
pd.value_counts(df["Production"].values.ravel())

Sugar cane                                                                                     40
Oil palm                                                                                       40
Rice                                                                                           35
Missing                                                                                        34
Crops                                                                                          30
Cereals                                                                                        12
Maize                                                                                           7
Cassava                                                                                         5
Wheat                                                                                           5
Dairy                                                                                           4
Soybean                                                                                         4
Fruit                                                                                           4
Soybeans                                                                                        4
Sweet sorghum                                                                                   3
Crops, dairy                                                                                    3
Cattle                                                                                          3
Livestock                                                                                       2
Maize, wheat                                                                                    2
Rice and other crops                                                                            2
Maize, soybeans                                                                                 2
Feed, wheat                                                                                     2
Alfalfa                                                                                         2
Palm oil                                                                                        2
Cereals, oilseeds                                                                               2
Cassava, sugar cane                                                                             2
Sheep                                                                                           2
Food crops                                                                                      2
Crops (mainly soybean)                                                                          2
Fruit, rice, vegetables                                                                         2
Maize, soybean                                                                                  2
                                                                                               ..
Bananas, rice and other crops                                                                   1
livestock, cereal                                                                               1
Sesame, soybeans, sunflower seed                                                                1
Crops (sorghum)                                                                                 1
Rapeseed, soybeans, wheat                                                                       1
Cotton, maize, soybean                                                                          1
Bananas                                                                                         1
Cereals, flowers, fruit, oil seeds, vegetables                                                  1
Barley, flowers, fruits, ginseng, maize, oats, pork, rice, rye, soybeans, vegetables, wheat     1
Barley, potatoes, sugar beet, sunflowers, wheat                                                 1
Cotton, maize, sorghum, sugar, sunflower, wheat                                                 1
Sheep, cattle, forest                                                                           1
Grapes, nuts                                                                                    1
Beef cattle                                                                                     1
Crops, forstry, livestock                                                                       1
Oil palm, rice                                                                                  1
Fruit, grains, herbs, nuts, pasture, vegetables                                                 1
Banaba, pineapple                                                                               1
Cattle, crops, sugar cane                                                                       1
oil seeds                                                                                       1
Maize, potatoes, spring wheat, sugar beet                                                       1
Rice seeds                                                                                      1
Grain, dairy, livestock                                                                         1
Cattle, grains, soybeans                                                                        1
Cotton, rice                                                                                    1
Crops, sugar cane                                                                               1
Hops, maize, oilseed rape, sugar beet, wheat, wine, winter barley                               1
Fruit, palm oil, rice, sugar cane                                                               1
Barley, maize, rape, sunflower, wheat                                                           1
Fodder, maize, palm oil, rice, soybeans, sugar cane                                             1
dtype: int64

In [17]:
df["Projected investment"]=df["Projected investment"]=df["Projected investment"].str.replace("rice", "Rice").str.replace("\?oybean\*", "Soybeans")
df.head()
pd.value_counts(df["Production"].values.ravel())

Sugar cane                                                                                     40
Oil palm                                                                                       40
Rice                                                                                           35
Missing                                                                                        34
Crops                                                                                          30
Cereals                                                                                        12
Maize                                                                                           7
Cassava                                                                                         5
Wheat                                                                                           5
Dairy                                                                                           4
Soybean                                                                                         4
Fruit                                                                                           4
Soybeans                                                                                        4
Sweet sorghum                                                                                   3
Crops, dairy                                                                                    3
Cattle                                                                                          3
Livestock                                                                                       2
Maize, wheat                                                                                    2
Rice and other crops                                                                            2
Maize, soybeans                                                                                 2
Feed, wheat                                                                                     2
Alfalfa                                                                                         2
Palm oil                                                                                        2
Cereals, oilseeds                                                                               2
Cassava, sugar cane                                                                             2
Sheep                                                                                           2
Food crops                                                                                      2
Crops (mainly soybean)                                                                          2
Fruit, rice, vegetables                                                                         2
Maize, soybean                                                                                  2
                                                                                               ..
Bananas, rice and other crops                                                                   1
livestock, cereal                                                                               1
Sesame, soybeans, sunflower seed                                                                1
Crops (sorghum)                                                                                 1
Rapeseed, soybeans, wheat                                                                       1
Cotton, maize, soybean                                                                          1
Bananas                                                                                         1
Cereals, flowers, fruit, oil seeds, vegetables                                                  1
Barley, flowers, fruits, ginseng, maize, oats, pork, rice, rye, soybeans, vegetables, wheat     1
Barley, potatoes, sugar beet, sunflowers, wheat                                                 1
Cotton, maize, sorghum, sugar, sunflower, wheat                                                 1
Sheep, cattle, forest                                                                           1
Grapes, nuts                                                                                    1
Beef cattle                                                                                     1
Crops, forstry, livestock                                                                       1
Oil palm, rice                                                                                  1
Fruit, grains, herbs, nuts, pasture, vegetables                                                 1
Banaba, pineapple                                                                               1
Cattle, crops, sugar cane                                                                       1
oil seeds                                                                                       1
Maize, potatoes, spring wheat, sugar beet                                                       1
Rice seeds                                                                                      1
Grain, dairy, livestock                                                                         1
Cattle, grains, soybeans                                                                        1
Cotton, rice                                                                                    1
Crops, sugar cane                                                                               1
Hops, maize, oilseed rape, sugar beet, wheat, wine, winter barley                               1
Fruit, palm oil, rice, sugar cane                                                               1
Barley, maize, rape, sunflower, wheat                                                           1
Fodder, maize, palm oil, rice, soybeans, sugar cane                                             1
dtype: int64