# Week 3 assignments Jan-Niklas Schneider

In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv("GCD-Week-3-GRAIN---Land-grab-deals---Jan-2012.csv", delimiter=';',encoding='utf-8')

In [6]:
#Problem 1: Showing the data plainly
df.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000,"Milk, olive oil, potatoes",NaN,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500,Rice,US$77 million,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000,Oil palm,NaN,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000,Oil palm,US$30-35 million,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000,Sugar cane,US$200 million,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

# Problem 2: Whitespace and new lines

In [36]:
#remove all leading or trailing whitespaces
df["Status of deal"].str.strip()

0                    Done
1                    Done
2              In process
3                    Done
4                    Done
5                    Done
6      Done (50-yr lease)
7                    Done
8               Suspended
9                    Done
10                   Done
11                   Done
12                   Done
13                   Done
14                   Done
15             In process
16                   Done
17                   Done
18                   Done
19                   Done
20                   Done
21                   Done
22                   Done
23                   Done
24                   Done
25             In process
26                   Done
27             In process
28                   Done
29             In process
              ...
386                  Done
387                  Done
388                  Done
389                  Done
390                  Done
391                  Done
392                  Done
393                  Done
394                  Done
395                  Done
396                  Done
397                  Done
398                  Done
399                  Done
400                  Done
401                  Done
402                  Done
403                  Done
404                  Done
405                  Done
406                  Done
407                  Done
408                  Done
409                  Done
410                  Done
411                  Done
412                  Done
413                  Done
414                  Done
415                  Done
Name: Status of deal, dtype: object

# Problem 3: Blank cells

In [32]:
#fill missing cells with missing
df.isnull().sum()

Landgrabbed               0
Landgrabber               0
Base                      0
Sector                   10
Hectares                  2
Production               34
Projected investment    310
Status of deal            0
Summary                   0
dtype: int64

In [70]:
df=df.fillna("Missing")
df.head()

,Landgrabbed,Landgrabber,Base,Sector,Hectares,Production,Projected investment,Status of deal,Summary
0,Algeria,Al Qudra,UAE,"Finance, real estate",31000,"Milk, olive oil, potatoes",Missing,Done,Al Qudra Holding is a joint-stock company esta...
1,Angola,CAMC Engineering Co. Ltd,China,Construction,1500,Rice,77,Done,CAMCE is a subsidiary of the China National Ma...
2,Angola,ENI,Italy,Energy,12000,Oil palm,Missing,In process,The project is a joint venture between Sonango...
3,Angola,AfriAgro,Portugal,"Finance, real estate",5000,Oil palm,30-35,Done,AfriAgro is a subsidiary of the Portugal-based...
4,Angola,Eurico Ferreira,Portugal,"Energy, telecommunications\n",30000,Sugar cane,200,Done,"In 2008, Portuguese conglomerate Eurico Ferrei..."

# Problem 4: Fixing numbers that aren’t numbers

In [66]:
#remove million and US$ from the column
df["Projected investment"]=df["Projected investment"].str.replace("US\$", "").str.replace(" million","").str.strip()

In [67]:
#find errors in the column
pd.value_counts(df["Projected investment"].values.ravel())
df["Projected investment"].replace("billion", "").

100                        5
40                         4
250                        3
15                         3
5                          3
4/ha/yr (lease)            2
300                        2
205 (half of fund)         2
120                        2
30                         2
400                        2
77                         2
600                        2
2 billion                  2
200                        2
50                         2
73                         1
1,876                      1
136                        1
8/ha/yr (lease)            1
41                         1
336                        1
4.8                        1
7                          1
33                         1
204                        1
569                        1
251                        1
53.2                       1
5.49                       1
                          ..
21                         1
375                        1
16.7                       1
45.3                       1
34.1                       1
43                         1
10                         1
23                         1
80                         1
125,000/yr (land lease)    1
20                         1
160                        1
350                        1
57,600 (0.80/ha)           1
12.5                       1
2,500                      1
166                        1
879                        1
42                         1
328                        1
111                        1
500                        1
65                         1
64                         1
30-35                      1
1.3 billion                1
1.6 billion                1
55                         1
456                        1
7.7                        1
dtype: int64