# ADS-DV Week 2 Assignment 4
# Project-to-Group Matchin 2015 and Heatmaps

## Summary
This assignment lets you create a heat map based on your votes for the professional task projects.

## The voting data

First we define the list of companies and ADS professional task groups.

In [1]:
companies = ('8Vance', 'Philips HC', 'PSV', 'Coosto', 'Orikami','Score','Heemskerk','Mirabeau')
groups = ('TheTree','Team+','A-Team','Tim','Arwin','Wesley','Tom','Sander')

Then, we collect all group preferences 1 to 8 from the e-mails received.

In [2]:
votes = [
    (6,3,7,1,4,8,5,2),
    (6,7,3,2,4,8,1,5),
    (3,1,6,2,5,8,4,7),
    (5,1,2,4,6,8,3,7),
    (2,6,6,1,6,6,3,4),
    (6,4,3,1,4,8,2,7),
    (3,4,6,1,7,5,2,8),
    (5,3,7,2,8,6,1,4)
]

We now put all data into a Pandas dataframe for possibly easy manipulation.

In [3]:
import pandas as pd

df = pd.DataFrame(votes, columns=companies, index=groups)
df.head(8)

         8Vance  Philips HC  PSV  Coosto  Orikami  Score  Heemskerk  Mirabeau
TheTree       6           3    7       1        4      8          5         2
Team+         6           7    3       2        4      8          1         5
A-Team        3           1    6       2        5      8          4         7
Tim           5           1    2       4        6      8          3         7
Arwin         2           6    6       1        6      6          3         4
Wesley        6           4    3       1        4      8          2         7
Tom           3           4    6       1        7      5          2         8
Sander        5           3    7       2        8      6          1         4

## Ranking all possible matches

We're using a ranked voting system. For every possible matching we compute the impopularity by summing the ranking. We then use the matching with the lowest impopularity.

Let's try to solve this (rather inefficiently) with brute force, but first let's see if this is feasable. We need to test 8! combinations, which are all the permutations of the 8 possible matches and should be still doable.

In [4]:
import math, itertools
combinations = math.factorial(8)
print(combinations)
permutations = list(itertools.permutations(range(8)))

40320

Now we compute the impopularity score for each match by looping over all permutations, and store the score with each permutation.

In [5]:
scores = []
for permutation in permutations:
    sum = 0
    for group in range(8):
        sum += df.iloc[group, permutation[group]]
    scores.append((permutation, sum))

print('\n'.join(map(str,scores[0:10])))

((0, 1, 2, 3, 4, 5, 6, 7), 43)
((0, 1, 2, 3, 4, 5, 7, 6), 46)
((0, 1, 2, 3, 4, 6, 5, 7), 40)
((0, 1, 2, 3, 4, 6, 7, 5), 45)
((0, 1, 2, 3, 4, 7, 5, 6), 42)
((0, 1, 2, 3, 4, 7, 6, 5), 44)
((0, 1, 2, 3, 5, 4, 6, 7), 39)
((0, 1, 2, 3, 5, 4, 7, 6), 42)
((0, 1, 2, 3, 5, 6, 4, 7), 42)
((0, 1, 2, 3, 5, 6, 7, 4), 47)

We then sort the list on the impopularity score.

In [6]:
sorted_scores = sorted(scores, key=lambda tup: tup[1])
print('\n'.join(map(str,sorted_scores[0:10])))

((7, 4, 1, 2, 0, 3, 5, 6), 18)
((7, 3, 1, 2, 0, 4, 5, 6), 19)
((7, 6, 1, 2, 0, 4, 3, 5), 19)
((7, 6, 1, 2, 0, 4, 5, 3), 19)
((3, 6, 1, 2, 0, 4, 5, 7), 20)
((4, 6, 1, 2, 0, 3, 5, 7), 20)
((7, 2, 0, 1, 3, 4, 5, 6), 20)
((7, 2, 3, 1, 0, 4, 5, 6), 20)
((7, 2, 4, 1, 0, 3, 5, 6), 20)
((7, 4, 0, 1, 3, 2, 5, 6), 20)

We now filter out all the matchings that have the same lowest score, ideally this will yield only one result.

In [7]:
best_scores = list(filter(lambda tup: tup[1] == sorted_scores[0][1], sorted_scores))
print('\n'.join(map(str,best_scores)))

((7, 4, 1, 2, 0, 3, 5, 6), 18)

## Result

Now we convert our best matching(s) to a more human-readable form, by using the group and company names.

In [8]:
for score in best_scores:
    print('Option: ' + str(score))
    print('=======================================================')
    for group in range(8):
        print(groups[group] + '\t\t\t' + companies[score[0][group]])
    print('\n')

Option: ((7, 4, 1, 2, 0, 3, 5, 6), 18)
=======================================================
TheTree			Mirabeau
Team+			Orikami
A-Team			Philips HC
Tim			PSV
Arwin			8Vance
Wesley			Coosto
Tom			Score
Sander			Heemskerk

## Assignment

Finally, we want to show the votes in a heatmap.
In addition you should use a scatter plot to plot the best score on the heat map.

Hints: use ax.pcolor for the heatmap and the dataframe df as data.
Use a colormap that makes sense for a heatmap.

Do you agree with the best project-to-group matching?

In [2]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline  

fig, ax1 = plt.subplots(figsize=(8,6))
#df.plot(kind='scatter', df.index.values, df.column.values);

SyntaxError: non-keyword arg after keyword arg (<ipython-input-2-1f35295e7d84>, line 6)